/* Здесь будут храниться стили нашего сайта */

body {
  margin: 0;
  font-family: 'Roboto';
  font-size: 18px;
}

img {
  width: 100%;
}

header {
  padding-top: 59px;
  padding-bottom: 22px;
  background-color: #3a7dfd;
  color: #ffffff;
  background-image: linear-gradient(-147deg, #3a7dfd 0%, #1157db 100%);
}

*:focus {
  outline: none;
}

.header-pretitle {
  font-size: 18px;
  margin-top: 102px;
}

.header-title {
  font-size: 48px;
  line-height: 46.81px;
  margin-top: 21px;
}

.header-subtitle {
  font-size: 18px;
  margin-top: 20px;
}

.header-button {
  box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, 0.83);
  border-radius: 50px;
  background-color: #ffffff;
  color: #072b6f;
  font-size: 18px;
  font-weight: 700;
  padding: 17px 57px 19px 55px;
  margin-top: 33px;
  border: none;
  font-family: inherit;
  cursor: pointer;
  transition: .5s;
  display: inline-block;
  text-decoration: none;
}

.header-button:hover {
  background-color: #eeeeee;
  box-shadow: none;
}

header small {
  font-size: 12px;
  display: block;
  text-align: center;
  margin-top: 10px;
}

.header-button-block {
  max-width: 210px;
}

/*Секция портфолио*/

.portfolio {
  background-color: #dddddd;
  padding-top: 44px;
  padding-bottom: 71px;
}

.portfolio-col {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.portfolio-block {
  background-color: #fff;
  padding-top: 29px;
  padding-bottom: 41px;
}

.portfolio-title {
  text-transform: uppercase;
  font-size: 18px;
  color: #072b6f;
}

.portfolio-subtitle {
  margin-top: 10px;
  font-size: 14px;
  color: #7bb9ff;
  margin-bottom: 30px;
}

.portfolio-title, .portfolio-subtitle {
  text-align: center;
}

.portfolio-col-1 {
  padding-left: 50px;
}

.portfolio-col-2 {
  padding-right: 50px;
}

.portfolio-block h3 {
  color: #072b6f;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.portfolio-block h3+p {
  color: #8f8f8f;
  font-size: 14px;
  font-weight: 400;
}

.portfolio-link {
  color: #072b6f;
  font-size: 14px;
  font-weight: 400;
  margin-top: auto;
  text-decoration: none;
  border-bottom: 1px solid;
  width: 116px;
}

/*Оформление подвала*/

footer {
  background-color: #3a7dfd;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 110px;
}

.footer-author {
  font-size: 24px;
  margin-bottom: 7px;
  margin-top: 14px;
}

.footer-text {
  margin-top: 0;
}

.social-block {
  text-align: center;
}

.social-block p {
  margin-top: 0;
}

.social-block a {
  display: inline-block;
  margin-right: 13px;
  margin-left: 13px;
  transition: .5s;
}

.footer-cta-block {
  text-align: center;
}

.footer-cta {
  margin-bottom: 13px;
  margin-top: 0;
}

.footer-button {
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 50px;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  padding: 12px 40px;
  transition: .5s;
  cursor: pointer;
  font-family: inherit;
  outline: none;
  text-decoration: none;
}

.footer-button:hover {
  background-color: #fff;
  color: #3a7dfd;
}

.social-block a:hover {
  opacity: .5;
}

.porfolio-img-wrap {
  position: relative;
}

.porfolio-img-wrap img {
  width: 100%;
}

.decor {
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(17, 87, 219, 0) 0%, rgba(0, 26, 76, 0.65) 100%);
  transition: 2s;
}

.decor:hover {
  background: none;
}

@media (max-width: 1200px) {
  .header-pretitle {
    margin-top: 60px;
  }
}

@media (max-width: 992px) {
  .header-img {
    display: none;
  }
  .header-pretitle {
    margin-top: 10px;
  }
  .footer-author {
    font-size: 18px;
  }
  .footer-text {
    font-size: 14px;
  }
  .social-block a {
    margin-left: 5px;
    margin-right: 5px;
  }
  .social-block img {
    width: 30px;
  }
  .footer-button {
    font-size: 14px;
    padding: 8px 35px;
  }
  .header-button-block, .col-lg-5 {
    text-align: center;
    margin: 0px auto;
  }
}

@media (max-width: 768px) {
  .portfolio-col-1 {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
  }
  .portfolio-col-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer-author, .footer-text {
    text-align: center;
  }
}